[2021-07-02 20:05] Suzie97 opened #5 "Error while compiling from source"
Hey, I wanted to test the app and add some features if I can. But I get an error while compiling.

![Screenshot from 2021-07-03 01-33-40](https://user-images.githubusercontent.com/68198116/124323370-d6344e80-db9e-11eb-90f5-e6ba729cf35f.png)

Can you help?

[2021-07-03 04:55] SubhadeepJasu commented on #5
Are you using fluidsynth 2.2.1? It doesn't ship with elementary, so you may need to build it from source.

[2021-07-04 09:24] SubhadeepJasu commented on #5
I would recommend pulling from master one more time and using the flatpak build. That will install all dependencies automatically. I have updated the README to include steps to do that. You will need flatpak-builder.

[2021-07-04 11:52] Suzie97 commented on #5
can you tell the package name? I installed fluisynth but it installed a gui app

[2021-07-04 13:14] SubhadeepJasu commented on #5
Its this: https://github.com/FluidSynth/fluidsynth . You need to remove any existing fluidsynth installation. The one that elementary ships with is very old. Before doing `sudo make install` use `cmake -DLIB_INSTALL_DIR=/usr/lib ..`. That should do a proper installation of fluidsynth.

[2021-07-06 10:24] SubhadeepJasu commented on #5
UPDATE: libfluidsynth-dev is available in elementary OS 6. You can install both libfluidsynth-dev and libportmidi-dev using

[code]
and
[code]

[2021-07-06 10:40] Suzie97 commented on #5
I tried installing these packages, but they don't work.

[2021-07-06 10:42] Suzie97 commented on #5
I tried building fluidsynth from source, the app compiled too, without errors.

But this happens with me and I can't solve it.
https://github.com/FluidSynth/fluidsynth/wiki/BuildingWithCMake#note

As for the flatpak, there is something wrong with the GNOME runtime in my machine. Doesn't get installed. I'll see if I can solve the issues. Thank you for your help.

I'm closing this issue as the fault

[2021-07-06 10:42] #5 closed

[2021-07-06 10:57] SubhadeepJasu commented on #5
I switched to io.elementary runtime recently. So if you have eOS, that's an option.

[2021-07-06 11:40] Suzie97 commented on #5
oh great, I'll try it soon 😀️

[2021-07-07 21:50] hanaral opened #8 "Recommend Odin SDK as main compiling method"
This should reinforce flatpak as the main way to get the app, therefore focusing all the testing on the only format the app will be available in the AppCenter. It would also probably mean less hassle with setting up build dependencies and people complaining about X dependency not being available in the LTS repos :^)

[2021-07-07 21:56] hanaral opened #9 "Release flatpak bundle for testers under tagged releases"
Cassidy-James started doing this with his app Dippi, it really speeds up testing as users can install with a couple of clicks, an easily uninstall.
Maybe in the future there could even be a 'BETA' banner in-app and a badged app icon to make sure users know that it's just a snapshot.

[2021-07-08 05:14] SubhadeepJasu commented on #9
Sure. I gotta check how to do that.

[2021-07-15 08:24] SubhadeepJasu commented on #8
I have updated the readme to put flatpak build at first and meson as a fallback.  I haven't mentioned Odin, but I have mentioned elementary platform and sdk as flatpak requirements.

[2021-07-15 10:32] SubhadeepJasu commented on #8
Closing as it has been fixed. Feel free to let me know if I missed anything.

[2021-07-15 10:32] #8 closed

[2021-07-15 10:47] SubhadeepJasu commented on #9
Done !

[2021-07-15 10:47] #9 closed

[2021-09-01 23:45] cassidyjames opened #18 "AppData description: avoid starting with the name of your app"
I believe it will fail some AppStream validation tools, and it's just not necessary. 😉

[2021-09-01 23:46] cassidyjames opened #19 "AppData description: don't open with tech details"
Every AppCenter app is a GTK app, and many are written in Vala, so it doesn't make a lot of sense to advertise that to end users.

[2021-09-02 17:08] ToxicDragon opened #21 "Running the app on Gnome Shell (41) has theming issues"
Hi there,

congratulations to the wonderful application!

I just installed the app via flatpak on Gnome 41 (Ubuntu) and started it. However, the theming seems to be using the gnome themes and looks kind of broken aswell (see screenshot).

![image](https://user-images.githubusercontent.com/3375142/131887323-c85a1582-50d9-4b12-9c9c-eca69ef7977b.png)

Additionally, here is the log output when running

[2021-09-02 17:33] SubhadeepJasu commented on #21
Its a known issue, I plan to fix it the same way Akira does by forcing the app the use elementary theme.

[2021-09-02 18:59] SubhadeepJasu commented on #21
#22

[2021-09-03 07:33] SubhadeepJasu commented on #21
[Enigma.zip](https://github.com/SubhadeepJasu/Ensembles/files/7104058/Enigma.zip)

From my testing, it seems the issue is fixed. @ToxicDragon  , can you install this bundle and confirm that its working for you too?

[2021-09-03 07:38] SubhadeepJasu commented on #21
The issue seems to have been fixed when I tested it. @ToxicDragon Can you please test this bundle and confirm that its okay on your end too?

https://api.github.com/repos/SubhadeepJasu/Ensembles/actions/artifacts/89219391/zip

[2021-09-03 07:39] SubhadeepJasu commented on #21
Damn looks like github isn't allowing me to upload the flatpak bundle

[2021-09-03 07:42] SubhadeepJasu commented on #21
Let me know if you are not able to access the artifacts from this pull request https://github.com/SubhadeepJasu/Ensembles/pull/22/checks . In that case I'll make another release.

[2021-09-03 08:16] ToxicDragon commented on #21
@SubhadeepJasu Would it be possible for you to provide "Main"/"Alpha" Build versions directly via the appcenter flatpakrepo? Because I installed the app via the existing flatpakrepo and it would be convenient to have an "apha" source for this aswell.

If not possible, I'll try to test your provided bundle.

[2021-09-03 08:27] SubhadeepJasu commented on #21
Not without releasing it. The alpha is released on the main branch.

[2021-09-03 08:49] SubhadeepJasu commented on #21
Ok, I'm gonna release this in appcenter. Hopefully the issue is fixed. Fingers crossed.

[2021-09-03 09:27] SubhadeepJasu commented on #21
https://github.com/SubhadeepJasu/Ensembles/releases/tag/v0.0.13 Has the latest fixes. It will be while before this appears on appcenter.

[2021-09-03 09:27] SubhadeepJasu commented on #19
Fixed!

[2021-09-03 09:27] #19 closed

[2021-09-03 09:28] SubhadeepJasu commented on #18
Fixed!

[2021-09-03 09:28] #18 closed

[2021-09-03 10:19] ToxicDragon commented on #21
I can confirm that this version respects the theming (apparently?) correctly (see the picture below). However, when switching to the system's light theme, the application does a) not switch to the light theme on the fly (Gnome System Apps do) and b) does not switch to light theme at all, even after restarting the app. But maybe a) is expected behaviour for flatpak apps and/or b) is also dependent

[2021-09-03 10:21] ToxicDragon commented on #21
Update: On second thought, the application's theme resembles - as noted by @SubhadeepJasu - elementary's theme. However it is interesting that only the dark theme is used, not the light one.

[2021-09-03 10:23] SubhadeepJasu commented on #21
Its only designed around a dark theme. That's just how it is. The stylesheet doesn't support any light background colors.

[2021-09-03 10:41] ToxicDragon commented on #21
Alright, then most visual parts seem to be fine! I mean there some quirks here and there, see the comparison (e.g. the control in the top left corner are truncated a bit).

Original image (elementry OS):
![image](https://user-images.githubusercontent.com/3375142/131992850-59590c04-6c96-47bf-b20e-885eb3b39fbd.png)

0.0.13 on Gnome Shell (41):
![image](https://user-images.githubusercontent.com/33751

[2021-09-03 10:42] ToxicDragon commented on #21
But in general it looks quite good now!

[2021-09-03 10:45] SubhadeepJasu commented on #21
Yeah those visual issues are what I was talking about. Okay, we can close this issue, I'll make a new issue to track the visual quirks.

[2021-09-03 10:46] SubhadeepJasu commented on #21
Thanks for bringing this up!

[2021-09-03 10:46] #21 closed

[2021-09-03 10:47] SubhadeepJasu opened #24 "Make sure layout scales appropriately"
Fix layout bugs, so that it scales well when maximized.

[2021-09-03 16:22] ToxicDragon commented on #21
Sounds good! Thank you for your quick responses and bug fixing; I'm overwhelmed! Really nice application!

[2021-09-10 19:26] SubhadeepJasu opened #25 "Enable LV2 plugin support"

[2021-09-10 19:27] SubhadeepJasu opened #26 "Enable Native GTK+ plugin support"

[2021-09-11 13:42] SubhadeepJasu opened #27 "Implement Tempo Tapper"
Enable tempo detection when the user clicks the tap button or space bar when in the Tempo screen

[2021-09-16 18:07] SubhadeepJasu opened #28 "Crackling, Staticy Audio"
As the name suggests. Sometimes the audio output of Ensembles is very stuttery, laggy or staticy. There is a workaround for this, but we need a solution which works out of box.

[2021-09-16 19:04] SubhadeepJasu commented on #28
#29

[2021-09-17 06:45] SubhadeepJasu commented on #28
Native PipeWire driver support WIP upstream: https://github.com/FluidSynth/fluidsynth/pull/982.
I think it will be best to provide an interface to select audio driver, latency and realtime priority mode.

[2021-09-29 08:10] Hedronmx opened #32 "Cant enable MIDI Input devices"
Hello! When I enable midi input, i cant select any device. I currently own an Arturia Keylab 61 Essential and a Launchpad X. I cant activate neither of them.

[2021-09-29 09:56] SubhadeepJasu commented on #32
Are you double clicking the name?

[2021-09-29 10:25] Hedronmx commented on #32
I see the devices, I managed to activate the input by selecting the device and pressing space bar. But the app did not played any noise when pressing the midi keys, it then crashed

[2021-09-29 10:34] SubhadeepJasu commented on #32
I see. Can you run the app from terminal and tell me what gets printed?

[2021-09-29 11:02] Hedronmx commented on #32
No errors, it just crashes. No sound either when pressing the keys

[code]

[2021-09-29 11:09] SubhadeepJasu commented on #32
Thank you very much. I gotta investigate the output a bit. It looks the keyboard is incompatible with ensembles in it's current state. I need to modify some things to make it compatible.

On a sidenote, are you on discord or slack or twitter? We can take this conversation to DMs if you like. Because working closely with you to provide support for this keyboard.

[2021-09-29 11:11] Hedronmx commented on #32
This is my discord geop0p3#6842

[2021-09-29 11:18] SubhadeepJasu commented on #32
Thanks! Meet you there. :)

[2021-10-03 07:27] SubhadeepJasu commented on #32
Closing, as its fixed in #29 . Opening new issue to track onboard knobs and faders compatibility.

[2021-10-03 07:27] #32 closed

[2021-10-03 07:39] SubhadeepJasu opened #34 "All Contributors"
Add all-contributors table to readme

[2021-10-03 07:44] SubhadeepJasu commented on #34
@all-contributors please add @SubhadeepJasu  for design and code

[2021-10-03 07:47] SubhadeepJasu commented on #34
@all-contributors please add @SubhadeepJasu for design, code and doc

[2021-10-03 13:29] SubhadeepJasu commented on #34
@all-contributors please add @SubhadeepJasu for design, code and doc

[2021-10-03 16:25] SubhadeepJasu commented on #34
@all-contributors please add @SubhadeepJasu for design, code and doc

[2021-10-05 18:08] SubhadeepJasu commented on #34
@all-contributors please add @SubhadeepJasu for design, code and doc

[2021-10-05 18:18] SubhadeepJasu commented on #34
@all-contributors please add @ryonakano for code

[2021-10-05 18:21] SubhadeepJasu commented on #34
@all-contributors please add @dar5hak for code and doc

[2021-10-05 18:22] SubhadeepJasu commented on #34
@all-contributors please add @micahilbery for design

[2021-10-05 18:39] SubhadeepJasu commented on #34
@all-contributors please add @Newbytee for doc

[2021-10-05 18:44] SubhadeepJasu commented on #34
@all-contributors please add @Hedronmx for userTesting

[2021-10-05 23:19] ryonakano commented on #34
@SubhadeepJasu Thank you for using the code of my app, Reco! I was not sure why I'd been mentioned here because I've never committed this repo (btw I knew this app and it's really great, nice work!), but searching for the code I found my code. 🥳

Actually I was struggling on why the command `pacmd` is not available on Flatpak and because of this I haven't released Reco for Odin. I'll "reimport" my

[2021-10-07 05:42] SubhadeepJasu commented on #34
@all-contributors please add @benpocalypse for userTesting

[2021-10-08 06:09] tronta opened #42 "Physical Keyboard Layout not respected"
When not having a US(?!) keyboard layout it is not really possible to use this to play.
I have eg a German layout where `Z` and `Y`are swapped compared to the English layout.

Ideally one could locate the real positions of the keys or at least enable the user to make changes.

[2021-11-01 11:59] SierraRay53 opened #45 "The audio quality is really distorted and low quality."
I just installed this on Elementary OS. Imported the MIDI, and the audio is very low-quality, some instruments are loud. Even there is no option to set this to normal, tried setting everything (volumes, EQ, & others...) and doesn't do anything. I searched the tutorial on how to fix the audio on YouTube and Google and nothing's there. You need to fix this. Thanks.

[2021-11-01 12:42] SubhadeepJasu commented on #45
The audio settings UI is still WIP. Still thanks for opening this issue. Once the current changes get merged, you will have option to change audio settings like audio driver selection and latency.

[2021-11-01 18:45] SubhadeepJasu commented on #45
![Screenshot from 2021-11-02 00-14-38](https://user-images.githubusercontent.com/20795161/139724303-8b4cc272-8cdf-4307-b75f-e5d4006678e1.png)
![Screenshot from 2021-11-02 00-14-45](https://user-images.githubusercontent.com/20795161/139724307-8f97cb7a-e8c9-4143-868c-d620564b8d09.png)

[2021-11-05 16:34] NathanBnm opened #46 "Meson build is broken"
Hi @SubhadeepJasu

Just wanted to make some contributions regarding translations but I couldn't build your app with meson because of some errors happening while running the `ninja` command. Would you please mind to fix these build errors?

Your app is promising I can't wait to test it!

Cheers :smile:

[2021-11-05 16:38] SubhadeepJasu commented on #46
Can you post the error, it builds on my end properly?

[2021-11-05 17:04] NathanBnm commented on #46
Here are the build logs based on master branch:
[code]

[2021-11-05 17:07] SubhadeepJasu commented on #46
I think you need the latest fluidsynth

[2021-11-05 18:44] NathanBnm commented on #46
@SubhadeepJasu I already have the latest version.

I am using elementary OS 6

[2021-11-06 03:53] SubhadeepJasu commented on #46
Can you give me the meson output?

[2021-11-06 18:28] NathanBnm commented on #46
Here is the output:
[code]

Which version of fluidsynth do you use?

[2021-11-06 18:37] NathanBnm commented on #46
https://packages.debian.org/sid/libfluidsynth-dev

[2021-11-06 18:56] SubhadeepJasu commented on #46
Yeah that one's old. You need at least v2. 2 to compile this.

[2021-11-07 05:16] SubhadeepJasu commented on #46
I am using 2.2.4 which hasn't been release yet. But 2.2.1 from my knowledge should have worked. I think you can try installing the fluidsynth version that is specified in the yml file.

[2021-11-11 14:17] NathanBnm commented on #46
@SubhadeepJasu I succeeded to build the app after installing the appropriate fluidsynth version.

But I can't manage to run the app. Here is the output I have:

[code]

[2021-11-11 14:45] SubhadeepJasu commented on #46
Aaaa. My bad should have mentioned earlier. You need to install the soundfont as well from here https://gitlab.com/SubhadeepJasu/ensemblesgmsoundfont. You may need LFS, but you can also download the release file, that will do as well.

[2021-11-11 16:18] SubhadeepJasu commented on #46
Closing as it seems to be working.

[2021-11-11 16:18] #46 closed

[2021-11-16 12:42] Lucretia opened #49 "HiDPI screens not supported"
The UI doesn't scale properly, the fonts on the buttons are tiny, try scaling your 1080p screen down 4 times to get an idea. The image in the middle doesn't scale, text is unreadable.

[2021-11-16 16:07] SubhadeepJasu commented on #49
Related to #24

[2021-11-16 16:26] shayakbanerjee99 commented on #45
Great to hear that this is WIP @SubhadeepJasu

I installed it today on Ubuntu to test it out, only to find that I'm unable to run it via jack. Jack greatly helps reduce the latency, as I'm already using a low-latency kernel.

Is there an unstable branch where we can check it out anyway?

[2021-11-16 16:29] shayakbanerjee99 opened #50 "Implementation of preset settings for popular MIDI controllers"
Hi!

I wanted to suggest that preset mappings for some of the most popular MIDI controllers can be added or at least there could be an option where the different mappings could be saved(exported) and loaded. So that when one person has done the config, others can use it without having to go through the process.

[2021-11-16 16:36] SubhadeepJasu commented on #45
Jack isn't supported yet, (due to an issue with multiple clients within a single instance of Ensembles). Only alsa, pulse and pipewire are supported rn. I'll definitely look into it.

[2021-11-16 16:37] SubhadeepJasu commented on #50
Definitely possible. Great idea!

[2021-11-16 16:40] shayakbanerjee99 commented on #45
I checked with pipewire.. The audio works flawlessly. However somehow I'm unable to get my MIDI controller to work. It's an M-Audio Oxygen 61

![Screenshot from 2021-11-16 22-07-50](https://user-images.githubusercontent.com/20742178/142027242-52ba0388-05e6-48b7-95ab-ce8ee344c7c0.png)

I'm checking what could be the issues. Will definitely share if I find what's wrong

[2021-11-16 16:40] SubhadeepJasu commented on #45
Can you try a the sequencer branch? by building from source?

[2021-11-16 16:44] SubhadeepJasu commented on #45
You can try flatpak build, which takes care of all the dependencies.

[2021-11-17 06:02] SierraRay53 commented on #45
I moved to another Linux Distro for NVIDIA graphics driver issues. I'm not sure if this app would work on any Linux distro. I'm sorry for this. But thanks.

[2021-11-17 06:09] SubhadeepJasu commented on #45
It's okay, I was mainly replying to @shayakbanerjee99 . Ensembles is distro agnostic and you can always do a flatpak build using flatpak-builder for easy build from source, with no worries about dependencies.

[2021-11-19 11:22] SubhadeepJasu commented on #49
Progress on these:
Higher UI scaling
![Screenshot from 2021-11-19 16-46-21](https://user-images.githubusercontent.com/20795161/142614638-8dc64c13-273a-467f-957c-c6efea1ffd3b.png)

Normal Scaling (with respect to my laptop)
![Screenshot from 2021-11-19 16-47-18](https://user-images.githubusercontent.com/20795161/142614651-65a4cc17-67d2-4f8f-89cb-566d0bba5958.png)

[2021-11-19 14:45] SubhadeepJasu commented on #34
@all-contributors please add @NathanBnm for code and translations

[2021-11-20 14:03] Lucretia commented on #49
The text on the buttons on the right are still too small on hidpi. I'd move the "led" to the left or the right and let the text fill the button, or put it in the prefs.

[2021-11-20 14:15] SubhadeepJasu commented on #49
I'll try enlarging the text a bit more. Looks like there is room. If it's still too small (after we have seen the app in actual scenario), I'll move the Led thing to the left.

[2021-11-20 20:06] SubhadeepJasu commented on #42
Latest Release provided ability to change keyboard input binding

[2021-11-23 07:16] SubhadeepJasu commented on #49
@Lucretia  How does the new latest version look on your screen?

[2021-11-23 12:23] Lucretia commented on #49
No idea, I can't get it to run.

[2021-11-23 12:44] SubhadeepJasu commented on #49
Oh no! The one from appcenter?

[2021-11-23 16:44] Lucretia commented on #49
I've tried the flatpak from here and I've created a gentoo ebuild for it locally, neither work. Running the built one, I get the following:
[code]

And running the flatpak:

[code]

[2021-11-23 16:45] Lucretia opened #53 "Cannot start the application"
I've tried the flatpak from here and I've created a gentoo ebuild for it locally, neither work. Running the built one, I get the following:
[code]

And running the flatpak:

[code]

[2021-11-23 17:37] SubhadeepJasu commented on #53
I am looking into this myself. I found that its a fairly common issue with gtk apps with some suggesting a simple restart. And other probable reasons being the RAM being maxed out and system being under heavy swap. https://bugs.archlinux.org/task/60229.

The problem appeared in Vocal which another elementary app, although I don't fully know what the solution was or if it was just a random fluke.

[2021-11-23 17:38] SubhadeepJasu commented on #53
Can you try some of these can tell me if it fixes the issue?

[2021-11-25 21:12] Lucretia commented on #53
I just rebooted and ran from the command line, I get a lot of output so ran out of buffer space, but:

[code]

I only get the seg fault if I don't redirect the output.

[code]

[2021-11-26 05:05] SubhadeepJasu commented on #53
Damn it. It's the incomplete lv2 feature. I'll take it out until it's ready.

[2021-11-26 06:19] SubhadeepJasu commented on #53
Can you try this https://github.com/SubhadeepJasu/Ensembles/suites/4471210328/artifacts/118944509. Or build from the branch `full_remediation`?

I am restructuring the code there. This one should have little to no crashes on start and exit (under normal circumstances) and the print statements have been changed to debug statements and a lot of them have been removed. Also LV2 search feature is temp

[2021-11-26 10:51] Lucretia commented on #53
Ok, that branch seems to work. But it no longer uses the theme.

![image](https://user-images.githubusercontent.com/570928/143569590-897714b1-258c-418e-a004-c06a473c21e7.png)

[2021-11-26 11:02] SubhadeepJasu commented on #53
Do you have elementary odin themes installed?

[2021-11-26 11:39] Lucretia commented on #53
On gentoo there is no Elementary theme.

I'm using my own ebuild, not flatpak.

[2021-11-26 11:41] Lucretia commented on #53
Ah, adding GTK_THEME=Adwaita-dark works.

[2021-11-26 11:49] ChildishGiant opened #56 "Pressing 0 crashes the app"
[code]

[2021-11-26 11:53] SubhadeepJasu commented on #53
Ok. Its designed only with the elementary theme in mind, so it may look a bit weird there. Anyway I'll be back to the other issue.

[2021-11-26 11:54] SubhadeepJasu commented on #49
How's the size of text in those buttons?

[2021-11-26 12:00] SubhadeepJasu commented on #56
The keypad 0 or the numpad 0?

[2021-11-26 12:04] ChildishGiant commented on #56
keypad, above O and P on the UK keyboard.

[2021-11-26 12:06] SubhadeepJasu commented on #56
Gotcha. It just crashed on mine too.

[2021-11-26 12:15] SubhadeepJasu commented on #56
Fixed in https://github.com/SubhadeepJasu/Ensembles/commit/24e9b853a1bbf6cb6109f328e8a8467b045f8945 .

Thank you!

[2021-11-26 12:15] #56 closed

[2021-11-26 13:20] Lucretia commented on #49
Yeah, they're readable now.

[2021-11-26 13:21] Lucretia commented on #53
You shouldn't design to a specific theme.

[2021-11-26 13:25] SubhadeepJasu commented on #53
Everyone designs based on their theme of choice and the other option is to have a full featured style sheet which is a collosal amount of work. Which is why it packs the elementary style sheet in the flatpak package.

[2021-11-26 13:25] SubhadeepJasu commented on #53
Anyway closing it since the main issue was intermittent.

[2021-11-26 13:26] #53 closed

[2021-12-01 01:15] rolodoom opened #57 "Segmentation Fault - Running from Manjaro"
Hello there. I'm testing from Manjaro. I compiled and couldn't run the master branch, couldn't start the application.  Read the Issues and find this thread  [ Cannot start the application #53 ](https://github.com/SubhadeepJasu/Ensembles/issues/53) and switch branch to  full_remediation, compile and the application run but then closes reporting:
`zsh: segmentation fault (core dumped)  com.github.su

[2021-12-01 05:05] SubhadeepJasu commented on #57
You need to install the soundfont. Check the readme.

Apart from that I see a bunch of error in Alsa and Gtk theme parser, not sure about those.

[2021-12-02 22:16] rolodoom commented on #57
HI, thanks for your answer. Here is the new screenshot:
![Screenshot_20211202_170359](https://user-images.githubusercontent.com/61945227/144511347-96ffa643-8e6c-4b77-802a-9f2c913eb53b.png)

About your comments:
1. Installed SoundFont as instructed here: [EnsemblesGMSoundfont ](https://gitlab.com/SubhadeepJasu/ensemblesgmsoundfont)
2. Installed the [Elementary OS stylesheet](https://github.com/elem

[2021-12-03 07:54] SubhadeepJasu commented on #57
That's odd. So according to the dump, the soundfont is still invalid.

If you are cloning the repo, then you will need GitLFS or else the soundfont is corrupted. Alternatively you can down one of the releases from the soundfont repo and install that. I'll just link it here: https://gitlab.com/SubhadeepJasu/ensemblesgmsoundfont/-/archive/v0.0.3/ensemblesgmsoundfont-v0.0.3.tar.gz

As for the alsa er

[2021-12-08 01:24] rolodoom commented on #57
1. Well I re-installed the SoundFont with GitLFS and invalid problem fixed
2. My system has no /dev/dsp. I think that this is not on Manjaro
[code]
I don't really know what else to do, 'cause as I said early all audio software works on my system, so I think is this /dev/dsp error
Is there anyway to use the software with jack?

I'm going to test on a ubuntu-studio partition and see what happens!!!

[2021-12-08 08:26] SubhadeepJasu commented on #57
Well tiny success at least. You can change the audio settings in Ensembles. Jack isn't yet supported but pulse audio is an option. Pipewire is also another option.

[2021-12-08 15:42] SubhadeepJasu commented on #57
I'll find a permanent solution, but until then, you can do this:

- Open dconf editor in the location as in the screenshot.

- Change the custom value to `pulseaudio` if you have PulseAudio, or `pipewire-pulse` if you have that. (before starting the app)

![Screenshot from 2021-12-08 21-10-59](https://user-images.githubusercontent.com/20795161/145237664-35dbe2f8-ee37-42a6-b403-d1e76423405e.png)

I

[2021-12-14 03:42] rolodoom commented on #57
Tested with `pulseaudio` and still getting the error. Didn't test pipewire 'cause don't really use it. My system runs with Jack Server. Tested with and without JackServer running

![Screenshot_20211213_224009](https://user-images.githubusercontent.com/61945227/145928947-32ac151e-44cd-4064-95ed-675835f5631f.png)

[code]

[2021-12-20 14:00] SubhadeepJasu commented on #57
Currently working on jack support.

[2021-12-20 14:58] SubhadeepJasu commented on #57
Also found the issue you are facing. https://github.com/FluidSynth/fluidsynth/discussions/1004

[2021-12-24 05:58] SubhadeepJasu commented on #57
@rolodoom Can you pull from master and check if the issue still persists? This time you can set driver settings to pulseaudio or jack if alsa has errors. The alsa error is not caused by anything in Ensembles and its an issue with the configuration, so its a bit hard to detect from within the code.

[2021-12-24 06:00] SubhadeepJasu commented on #49
@Lucretia I just released an alpha today. Can you please once confirm that the layout issue is fixed on your end?

[2021-12-24 06:01] SubhadeepJasu commented on #45
@SierraRay53 I just released an alpha in AppCenter. Can you please once check out the new audio settings and tell me if it helps.

[2021-12-24 06:04] SubhadeepJasu commented on #42
There is still room for improvements. I'll try having (2 or 3)-to-many relations for the bindings, which will then be perfect.

[2021-12-24 06:04] #28 closed

[2021-12-24 06:04] #24 closed

[2021-12-25 16:21] #27 closed

[2022-01-23 13:34] SubhadeepJasu opened #60 "Style Engine sync breaks when tempo above 150"
As the title says, when styles are played a tempo faster than roughly 150 BPM, the style engine seems to fail.

[2022-01-23 13:36] SubhadeepJasu opened #61 "All styles must follow the new specification"
- [ ] New specification also needs to be implemented from the engine.
- [ ] Old styles need to be updated accordingly.

[2022-01-23 13:37] SubhadeepJasu commented on #49
Closing as this issue seems to have been fixed.

[2022-01-23 13:37] #49 closed

[2022-01-23 13:37] SubhadeepJasu commented on #45
Closing due to lack of activity

[2022-01-23 13:37] #45 closed

[2022-01-26 15:50] SubhadeepJasu commented on #60
Fixed in 1c3f2054b429e96c4efce89c23c3bbe4f269b38b

[2022-01-26 15:50] #60 closed

[2022-02-06 08:47] SubhadeepJasu opened #64 "Recorder crash due to invalid drawing"
Recorder crashes while recording due to drawing on invalid coordinates.

[2022-02-06 08:48] SubhadeepJasu commented on #61
Styles must not be based on copyrighted music.

[2022-02-06 08:49] SubhadeepJasu opened #65 "Reset synth on style or song load"

[2022-02-17 01:24] falkTX commented on #26
Sorry to bring bad news, project is great but using gtk3 means it cannot load plugin UIs that use gtk2 (which are basically all existent lv2 gtk uis at the moment).
Mixing gtk3 and gtk2 on the same process just doesnt work.
Out of process UI bridging is a potential option, but this is not supported by suil. afaik only carla tries to do such tricks.

[2022-02-17 10:29] j-james commented on #21
Hmm, I'm running into this issue! On Arch Linux, with gnome-shell 41.3 and the arc-gtk-theme installed:

![2022-02-17-022157](https://user-images.githubusercontent.com/35242550/154456157-204d6d23-093c-464c-8d19-d4128fa8ddc4.png)

@SubhadeepJasu: Maybe I missed a dependency in my AUR package: does [this list](https://aur.archlinux.org/packages/ensembles) look right to you?

[2022-02-17 10:35] SubhadeepJasu commented on #21
Hey! Thanks for putting it in aur. In the list I would suggest also having elementary style sheet. Without that the app isn't gonna render correctly.

[2022-02-17 11:05] j-james commented on #21
Alright, I think gtk-theme-elementary provides the elementary style sheet on Arch. It renders in dark mode now but still doesn't use the system theme. `granite-demo` appears to work fine, so is that on this end or am I missing something else?

![2022-02-17-025621](https://user-images.githubusercontent.com/35242550/154466310-da386b41-384a-446c-b6e3-270d40a38c11.png)

I've added as optional dependen

[2022-02-20 04:17] SubhadeepJasu commented on #26
Oh no. That explains why the gtk UIs don't appear. Thanks for the info man. Well I'll have native plugin support which is not related to lv2, which may be the only thing for some time.

[2022-02-20 04:22] SubhadeepJasu commented on #21
That's okay. Ensembles is designed to use only the elementary theme and then add modifications on top of that. It won't use system them by design, plus it will only use dark theme, that's by design. It's a dark theme app.

It uses suil for rendering gtk ui for lv2 plugins, well that's what its supposed to do, but someone just told me that suil doens't yet support gtk 3 or gtk 4 yet, so that featur

[2022-02-24 17:56] thisjade opened #69 "Not usable with 1366 x 768 resoluteion"
Tried installing on ArchLinux with i3-gaps and i the window is way too big for the resolution and parts of the GUI are out of bounds.
![image](https://user-images.githubusercontent.com/77240684/155580361-8d30ffab-7b27-4e41-8a6b-06b44d3bea1a.png)
![image](https://user-images.githubusercontent.com/77240684/155580379-46fcf681-a135-4200-a7e7-06c39b220c4d.png)

[2022-02-25 09:50] SubhadeepJasu commented on #69
Just install the elementary stylesheet, and it should be good.

[2022-02-25 13:14] nicolalandro opened #70 "How to use with Jack?"
I correctly compile it on my opensuse Tumbleweed, but I'm seeing Alsa or PlusAudio I cannot chouse Jack, what can I do to use Ensembles with Jack?

[2022-02-25 13:17] SubhadeepJasu commented on #70
If you have compiled it from source and you have jackd installed, then it should show up. Can you run it from the terminal and tell me what shows up. There's most likely a bug.

[2022-02-25 13:35] nicolalandro commented on #70
Yes I compiled It from source, and I have jackd, I use Jack abituali with LMMS and Reaper.

If I run by command line I see the following
[code]

[2022-02-25 13:44] nicolalandro commented on #70
I just solved the sutil erro by `sudo zypper in suil-plugin-x11` but jack is not detected.

[2022-02-25 13:44] SubhadeepJasu commented on #70
I'll have to figure out a better way to detect jack.

[2022-02-25 13:47] nicolalandro commented on #70
Ok, If you add there also the wip branch I can beta test It if you need.

Thank you!

[2022-02-25 13:58] SubhadeepJasu commented on #70
Sure. I am gonna do it now.

[2022-02-25 14:16] SubhadeepJasu commented on #70
@nicolalandro Can you tell me what the output of `jackdmp -V` is?

[2022-02-25 14:20] nicolalandro commented on #70
I have jackd but not jackdmp, maybe is that the problem? I'm searching how to install it

[2022-02-25 14:22] SubhadeepJasu commented on #70
Your output mentions jackdmp :confused: But if jackdmp works for you, we can check if the app can work with that too.

[2022-02-25 14:24] nicolalandro commented on #70
but if I run `jackdmp -V` I reached "command not found", I'm wandering about that on the web for OpenSuse But I do not find nothing about

[2022-02-25 14:57] SubhadeepJasu commented on #70
@nicolalandro Can you pull from the style_debugging branch and see if it works now?

[2022-02-25 15:06] nicolalandro commented on #70
as before, but now after closing I also have a GTK error:
[code]
Jack is not detected. I do not find any package that have jackdmp, how can I install it?

[2022-02-25 17:14] SubhadeepJasu commented on #70
Final approach. Remove detection of Jack and enable it by default for native builds.

[2022-02-25 17:19] SubhadeepJasu commented on #70
Check now. Jack should be shown by default now.

[2022-02-25 18:09] nicolalandro commented on #70
It is normal that I do not see it on Jack? I will try to get a more deep test tomorrow, Thank you! I will let you Know!
![immagine](https://user-images.githubusercontent.com/18419702/155765253-e1e42d02-85dd-4c1d-9ad4-494c3f489a41.png)

[2022-02-25 18:27] SubhadeepJasu commented on #70
Its normal if you just changed it. Usually you will have to restart the app while jack server is running.

[2022-02-26 05:09] SubhadeepJasu commented on #70
![Screenshot from 2022-02-26 10-36-51](https://user-images.githubusercontent.com/20795161/155830067-81d7d7a7-3ecd-4254-85ed-79ad2475e155.png)

It connects on mine :confused:

[2022-03-01 12:17] nicolalandro commented on #70
For now it do not works with jack, but maybe it will works with [jack-example-tools](https://github.com/jackaudio/jack-example-tools)? Maybe quickly it will arrive on opensuse and I will test it.

[2022-03-12 09:37] flxzt opened #71 "Follow XDG Base Directory Specification"
Currently ensembles is creating `~/Documents/Ensembles` for its configuration files.
I think it should follow the [XDG spec](https://specifications.freedesktop.org/basedir-spec/basedir-spec-0.6.html) and place its configuration wherever XDG_CONFIG_HOME is pointing to.

Glib even has the function [get_user_config_dir](https://docs.gtk.org/glib/func.get_user_config_dir.html) for retreiving the path.

[2022-03-13 04:10] SubhadeepJasu commented on #71
It doesn't store configurations there. That folder stores user files like styles, recordings, display themes, etc.

[2022-03-13 04:19] flxzt commented on #71
then maybe XDG_DATA_HOME or XDG_DOCUMENTS_DIR ?

[2022-03-13 04:21] SubhadeepJasu commented on #71
yeah that I should do, unless its already like that in the code. Also just found that, it also stores input presets which are configuration files, which I will definitely store in XDG_CONFIG_HOME. Thanks for bringing it up.

[2022-03-20 05:46] SubhadeepJasu commented on #71
Slight change: I can't use XDG_DATA_HOME because that's for user data which is analogous to installed data in /usr/share. Also I don't see anything like XDG_DOCUMENT_DIR in the XDG Base Directory specification. I remove the document part from the path, so its just HOME. Configs will be stored in a subdirectory under XDG_CONFIG_HOME.

[2022-03-20 05:58] flxzt commented on #71
There is though, its not in the linked spec for the base-dirs, but there is [this](https://wiki.archlinux.org/title/XDG_user_directories) which specifies exactly what you want, "XDG_DOCUMENT_DIR", and is used by all main distributions.

[2022-03-20 06:02] SubhadeepJasu commented on #71
That's planned as well. I am just setting something as default for now.

[2022-03-20 06:03] flxzt commented on #71
Ok, sounds good :) This would be the glib function for easy retreival of the dir: https://docs.gtk.org/glib/func.get_user_special_dir.html

[2022-03-20 06:49] SubhadeepJasu commented on #71
That did it. Thanks for the help :)

[2022-03-20 06:49] #71 closed

[2022-03-20 07:00] SubhadeepJasu commented on #71
![Screenshot from 2022-03-20 12-28-07](https://user-images.githubusercontent.com/20795161/159151888-2b8fbd2b-2488-47f2-b30d-4d4df620364d.png)
![Screenshot from 2022-03-20 12-29-36](https://user-images.githubusercontent.com/20795161/159151889-3690cbf0-bf76-40ea-ac90-5e87ba370b2c.png)

[2022-04-19 08:35] fitojb commented on #69
The extremely padded out Adwaita theme has caused problems for us at LibreOffice, too.

[2022-04-19 08:42] SubhadeepJasu commented on #69
Is there solution for this yet? I might start basing it partly on adwaita theme later seeing as how it seems to be a common issue. Part of me also doesn't wanna do that because the app has a "signature appearance" that I don't want to ruin for sake of maximum theme compatibility.

[2022-04-19 12:24] SubhadeepJasu opened #72 "Better multtrack, multiclip recorder"
Make a better recorder with support for clips as well as tracks. You can record clips that you can then arrange on tracks and repeat them. Currently its using a 2D structure for storing events. For this we will need a 3D data structure.

[2022-04-26 17:01] SubhadeepJasu opened #74 "All musical content should be free"
All musical content in the app should be free and based on free sounds and samples. Only musical works with permissible licenses like CC, MIT, GPL, etc are going to be used to ensure copyleft protection of derivative works based on sounds and styles provided with the app. This only applies to musical content that is built-in the app.

[2022-04-26 17:13] SubhadeepJasu commented on #74
A project has been created as part of this. All musical content will be tracked in there.

[2022-05-04 00:08] rolodoom commented on #57
Hello @SubhadeepJasu I stopped compiling and installed the flatpak version from Elementary OS AppCenter. It's working as it should on Manjaro 21.2.6 with Pipewire 0.3.49

Great software!!!

[2022-05-04 00:08] #57 closed

[2022-05-04 13:00] Kirtai opened #75 "Any chance of NSM session support?"
NSM session management is becoming very common in Linux audio tools. Will Ensembles start supporting it?

It's very useful for combining multiple audio tools together.

Some information [here](https://new-session-manager.jackaudio.org/)

[2022-05-04 13:48] Kirtai opened #76 "Ensembles puts folders in $HOME/Documents instead of XDG_DOCUMENTS_DIR"
I have my XDG_DOCUMENTS_DIR pointed at a different directory ($HOME/documents) but Ensembles ignores that and creates a $HOME/Documents directory for its data.

The locations of these directories can be found in XDG_CONFIG_HOME/user-dirs.dirs

[2022-05-05 00:44] SubhadeepJasu commented on #76
I think it's the same issue as https://github.com/SubhadeepJasu/Ensembles/issues/71. It's been fixed for the next release.

[2022-05-05 00:50] SubhadeepJasu commented on #75
Interesting. I'll check this out. May be it will be supported in future.

[2022-05-14 23:09] wepache opened #77 "Simple Style Creator and Editor"
It would be nice if there was a way to create your own styles within the program. The easiest way for the user would be an editor like major Digital Audio Workstations use already, with a Piano roll, and midi editor, etc.

[2022-05-14 23:12] wepache commented on #25
This would make this program 10x better.

[2022-05-14 23:16] wepache opened #78 "Feature Request: Ability to Map Buttons to a Midi Controller"
It would be nice if we could map the Intro, Variation, Break, Ending, and Registry Memory to our physical buttons on our midi keyboard. This would allow the full performance to take place on the hardware instead of having to use a typing keyboard or mouse clicks.

[2022-05-14 23:19] wepache opened #79 "Feature Request: Add Real Fill-in, and Break support"
Currently the Fill-In Buttons just work as a way to change Variations, but there are no actual fills. It would be great if it supported Fill-ins. Also right now the Break button only stops the music till the next bar down beat. It would be great if instead of stopping, it supported an actual drum break, like most Yahama Arrangers, and Korg Arrangers support.

[2022-05-14 23:20] wepache opened #80 "Feature Request: Ability to use multiple midi keyboards for specific purposes"
It would be great if I could set 1 midi keyboard specifically for changing chords, and another one for right hand playing.

[2022-05-14 23:31] wepache commented on #25
Also I would assume that since the project can only be downloaded as a flatpak, LV2 plugins will need to be in flatpak for them to work. I feel that the most effective way for this to work is to allow Ensembles to be installed as a deb file on Ubuntu and debian so that we are able to use the KXStudio Repos to get a huge variety of open source LV2 that are not in flatpak.

[2022-05-15 04:15] SubhadeepJasu commented on #79
I see what you mean. I'll need to change the specification a bit to support that kind of break, but that would be nice ultimately. As for fills, it does support actual fills. You just have to press the same variation button that you are at. It's more of a CASIO method than Yamaha's. So if  I want to add a fill between A and B. I do this:

- I am in variation A
- I click the A button again (This tr

[2022-05-15 04:20] SubhadeepJasu commented on #79
Here I am going from C -> D in one of the new styles
https://user-images.githubusercontent.com/20795161/168457081-310a438f-ba42-4efb-9b83-a14d685ff7c7.mp4

[2022-05-15 04:30] SubhadeepJasu commented on #77
Yeah this all ties into the ability to write MIDI files. I have this planned already. This would improve the recorder as well.

[2022-05-15 04:34] SubhadeepJasu commented on #80
This is a good idea. I'll also have to add a related issue where it support multiple MIDI inputs simultaneously. The differentiation between the keyboards can be done by selecting MIDI channels in the keyboards, so channel 1 is always going to support chords and right hand, but if higher channels are present then also divide the virtual keyboard in all octaves among them.

[2022-05-15 04:42] SubhadeepJasu commented on #78
I can do this, but I'll need some help on this myself. Since I don't own a MIDI keyboard myself (I have an arranger keyboard), I will need to know the button values as sent by the keyboard.

If you can do this in the terminal:
`G_MESSAGES_DEBUG=all com.github.subhadeepjasu.ensembles.com`
or
`G_MESSAGES_DEBUG=all flatpak run com.github.subhadeepjasu.ensembles.com`
and connect your MIDI keyboard. If

[2022-05-15 05:50] wepache commented on #78
Most definitely I can help you out. I will send you the output tomorrow morning when I get on my computer.

[2022-05-15 05:52] wepache commented on #79
Awesome! That's actually exactly what I was trying to do. That should suffice for now. The break is not really important since I am able to do fills through other means. I am sure the break stopping will be useful to many people.

[2022-05-15 05:55] SubhadeepJasu commented on #79
It's useful in a couple of songs where you need all the music to stop and have to come in the next measure. Adds a certain kind of unique flare.

[2022-05-15 05:57] #79 closed

[2022-05-15 06:12] SubhadeepJasu opened #81 "Take MIDI input from multiple sources"
User should be able to choose multiple MIDI input sources and use them simultaneously. #80 #50

[2022-05-15 16:38] wepache commented on #78
[user@fedora ~]$  G_MESSAGES_DEBUG=all flatpak run com.github.subhadeepjasu.ensembles.com

(flatpak run:2740): GLib-GIO-DEBUG: 09:36:37.798: _g_io_module_get_default: Found default implementation gvfs (GDaemonVfs) for ‘gio-vfs’

(flatpak run:2740): GLib-DEBUG: 09:36:37.798: setenv()/putenv() are not thread-safe and should not be used after threads are created

(flatpak run:2740): GLib-DEBUG: 09:36

[2022-05-15 16:39] wepache commented on #78
Not sure if its showing that its not installed because I running it on Fedora? I am not using Elementary OS. I don't see how that would make a difference though since I am running the flatpak version. Perhaps the command should be different?

[2022-05-15 16:46] wepache commented on #78
Let me know where you prefer to be DM'd at.

[2022-05-15 16:51] SubhadeepJasu commented on #78
My discord is Jazz#4300.

[2022-05-19 17:25] SubhadeepJasu commented on #78
BTW, do let me know or ping me if you contact.

[2022-05-28 17:53] SubhadeepJasu commented on #78
@wepache Here's a build of it with multiple MIDI controller support and initial ability to map buttons to midi controllers. (Only the style control and registry memory buttons work for now). https://github.com/SubhadeepJasu/Ensembles/suites/6697964606/artifacts/254451951

[2022-07-30 16:58] SubhadeepJasu commented on #81
This feature is more or less complete. Ensembles can now take inputs from multiple sources. However, segregating devices will be based on channel.

[2022-07-30 16:58] #81 closed

[2022-07-30 17:02] SubhadeepJasu commented on #50
Feature Implemented

[2022-07-30 17:02] #50 closed

[2022-08-21 07:46] SubhadeepJasu commented on #80
Implemented

[2022-08-21 07:46] #80 closed

[2022-08-21 07:46] SubhadeepJasu commented on #78
Implemented

[2022-08-21 07:46] #78 closed